.SelectedPage{
    height: 100vh;
    width: 100vw;
    background-color: #FFF;
}
.SelectedPageTop{
    height: 60vh;
    width: 100vw;
    background-color: #f9f9f9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.SelectedPageBottom{
    height: 43vh;
    width: 100vw;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    top: -3vh;
}
.SelectionPage_Name{
    margin: 0;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.Selectionpage_Price{
    margin: 0;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ED7C0B;
}
.SelectionPage_Details{
    margin: 0;
    padding-left: 10px;
    padding-top: 15px;
    width: 90%;
    font-size: 18px;
    color: #000;
}
.Quantity{
    height: 40px;
    width: 200px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Quantity_num{
    font-size: 22px;
    font-weight: bold;
    color: #000;
    margin: 0;
}