.AuthPage{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
.Form{
    height: 300px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    padding: 15px;
    box-sizing: border-box;
}
.Form_title{
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    color: #ED7C0B;
    margin: 0;
    padding-bottom: 10px;
}