.OrderPage{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
.OrderPage section{
    height: 92vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
}
.OrderItem{
    margin-right: auto;
    margin-left: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
}
.OR_title{
    font-size: 19px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-bottom: 9px;
}
.OR_details{
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #000;
    opacity: 0.7;
    margin-bottom: 5px;
}
.OR_main{
    width: 100%;
    border-radius: 15px;
    border: 1px solid #F69230;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.OR_Item{
    font-size: 18px;
    color: #000;
    margin: 0;
    padding: 5px 0;
}
.OR_Bottom{
    height: 50px;
    width: 100%;
    border: 1px solid #000;
}