.OrderPage{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
.OrderPage section{
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 2vh;
}
.OrderItem{
    margin-right: auto;
    margin-left: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 15px;
    padding: 14px 10px;
    box-sizing: border-box;
}
.OR_title{
    font-size: 19px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-bottom: 9px;
}
.OR_details{
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #000;
    opacity: 0.7;
    margin-bottom: 5px;
}
.OR_main{
    width: 100%;
    border-radius: 15px;
    border: 1px solid #F69230;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.OR_Item{
    font-size: 18px;
    color: #000;
    margin: 0;
    padding: 5px 0;
}
.OR_Bottom{
    width: 100%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.OR_d1 p{
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}
.OR_d2{
    display: grid;
    justify-content: flex-end;
}
.OR_d2 p{
    font-size: 18px;
    margin: 0;
}
.OR_Bottom span{
    color: #F69230;
}
.AlertContainer{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    z-index: 100;
}
.AlertMain{
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
    box-sizing: border-box;
}
.PCD{
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-bottom: 20px;
}
.AlertButtons{
    height: 45px;
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.confirmButton{
    height: 45px;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 7px;
    background-color: #ED7C0B;
    border: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
}
.cancleButton{
    background-color: #f3f3f3;
    color: rgb(58, 58, 58);
    height: 45px;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
}